<%= form_for [@tip, @suspect] do |f| %>
  <p>
  <%= f.label :img_url, class: 'superhero' %>
  <%= f.text_field :img_url %>
  </p>
  <p>
  <%= f.label :race, class: 'superhero' %>
  <%= f.text_field :race %>
  </p>
  <p>
  <%= f.label :gender, class: 'superhero' %>
  <%= f.text_field :gender %>
  </p>
  <p>
  <%= f.label :height, class: 'superhero' %>
  <%= f.text_field :height %>
  </p>
  <p>
  <%= f.label :weight, class: 'superhero' %>
  <%= f.text_field :weight %>
  </p>
  <p>
  <%= f.label :hair, class: 'superhero' %>
  <%= f.text_field :hair %>
  </p>
  <p>
  <%= f.label :clothing, class: 'superhero' %>
  <%= f.text_area :clothing %>
  </p>
  <p>
  <%= f.label :weapons, class: 'superhero' %>
  <%= f.text_area :weapons %>
  </p>
  <p>
  <%= f.label :vehicle, class: 'superhero' %>
  <%= f.text_field :vehicle %>
  </p>
  <p>
  <%= f.label :year, class: 'superhero' %>
  <%= f.text_field :year %>
  </p>
  <p>
  <%= f.label :make, class: 'superhero' %>
  <%= f.text_field :make %>
  </p>
  <p>
  <%= f.label :model, class: 'superhero' %>
  <%= f.text_field :model %>
  </p>
  <p>
  <%= f.label :color, class: 'superhero' %>
  <%= f.text_field :color %>
  </p>
  <p>
  <%= f.label :license, class: 'superhero' %>
  <%= f.text_field :license %>
  </p>
  <p>
  <%= f.label :state, class: 'superhero' %>
  <%= f.text_field :state %>
  </p>
  <p>
  <%= f.label :description, class: 'superhero' %>
  <%= f.text_area :description %>
  </p>
  <%= f.submit %>
<% end %>
