<%= form_for @tip do |f| %>
  <p>
  <%= f.label :offense, class: 'superhero'%>
  <%= f.text_field :offense %>
  </p>
  <p>
  <%= f.label :location, class: 'superhero'  %>
  <%= f.text_field :location %>
  </p>
  <p>
  <%= f.label :img_url, class: 'superhero' %>
  <%= f.text_field :img_url %>
  </p>
  <h3><%= f.submit %></h3>
<% end %>
