<h1>SNITCH</h1>
<%= link_to "Provide a New Tip", new_tip_path %>
<article>
<% @tips.each do |tip| %>
  <section>
    <h2><%= link_to tip.offense, tip_path(tip) %></h2>
    <time>Updated <%= tip.updated_at.strftime("%m/%d/%y") %></time>
    <time>at <%= tip.updated_at.strftime("%I:%M%p") %></time>
    <p><%= tip.location %></p>
    <p><img src="<%= tip.img_url%>" class="crime"></p>
  </section>
<% end %>
</article>
