<h2>All Tips</h2>
<%#<%= link_to "Provide a New Tip", new_tip_path %>
<article>
<% @tips.each do |tip| %>
  <section>
    <h2><%= link_to tip.offense, tip_path(tip) %></h2>
    <time>Updated <%= tip.updated_at %></time>
    <p><%= tip.location %></p>
    <p><img src="<%= tip.img_url%>"></p>
  </section>
<% end %>
</article>
